---
const values = [
  [
    {
      ref: '01',
      name: 'Excelencia',
      description:
        'Nos esforzamos por ofrecer soluciones de alta calidad en cada proyecto, garantizando que nuestros clientes reciban los mejores resultados posibles.',
    },
    {
      ref: '02',
      name: 'Inovacion',
      description:
        'Adoptamos nuevas tecnologías y estrategias para asegurar que nuestros clientes estén siempre a la vanguardia del mercado.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Trabajo en equipo',
      description:
        'Creemos en la colaboración entre nuestro equipo y nuestros clientes para lograr un éxito compartido.',
    },
    {
      ref: '04',
      name: 'Respeto',
      description:
        'Valoramos la diversidad de ideas y fomentamos un ambiente de respeto mutuo, tanto dentro de nuestro equipo como con nuestros clientes.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestros Valores</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
