---
import ProductCard from "../../components/product/productCard.jsx";
import { fetchAllProducts } from "../../util/service.js";

let productList: any[] = [];

async function loadProducts() {
  const products = await fetchAllProducts();
  console.log(products)
  productList = products.catalogue.children;
  console.log(productList)
}
await loadProducts();


---

<section class="">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10">
      <div class="flex flex-col gap-8 w-full items-center">
        {productList.map((product: any) => (
          <ProductCard product={product} />
        ))}
      </div>
    </div>
  </div>
</section>