---
const services = [
  {
    step: '01',
    name: 'Dessarrollo Web',
    description:
      'Creamos sitios web personalizados, rápidos y seguros, adaptados a tu negocio. Mejoramos tu presencia online con soluciones optimizadas para móviles.',
  },
  {
    step: '02',
    name: 'Automatizacion de procesos',
    description:
      'Optimiza tus operaciones y ahorra tiempo automatizando tareas repetitivas. Menos trabajo manual, más eficiencia para tu empresa.',
  },
  {
    step: '03',
    name: 'Integraciones y Optimizaciones',
    description:
      'Integramos sistemas y optimizamos tu tecnología para mejorar rendimiento, reducir costos y aumentar la eficiencia operativa.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Servicios</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
