<a
  href="https://wa.me/56934418828?text=Hola%2C%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20tus%20servicios."
  class="fixed bottom-5 right-5 z-50"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="/assets/whatsapp-icon.png"
    alt="WhatsApp"
    class="w-16 h-16 rounded-full shadow-lg hover:scale-110 transition-transform duration-300"
  />
</a>
